<%= form_with(model: team, class: "node-form") do |form| %>

  <% if team.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(team.errors.count, "error") %> prohibited this team from being saved:</h2>

      <ul>
        <% team.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%# <%= form.label :name %>
    <%= form.text_field :name, class: "title-input", placeholder: "Team name" %>
  </div>
  <div>
    <%# <%= form.label :description %>
    <%= form.text_area :description, class: "description-text-input", placeholder: "Team description" %>
  </div>
  <%= form.hidden_field :world_id, value: Node.find(params[:world_id]).world_id %> 
  <div>
    <%= form.submit class: "input-btn" %>
  </div>

<% end %>

