
<%# <%= render @team %>

<section class="wide-section-small">
  <div class="section-content">
    <h1>Team <%=@team.name%> in <a href="<%=node_path(@team.world.node.id)%>"><%=@team.world.world_name%></a></h1>
  </div>
</section>

<section>
  <div class="section-content">
    <h3>Team description</h3>
    <%=@team.description%>
    <p>Created at : <%=@team.created_at%></p>
    <%if @owned%>
      <h3>Invite user to team</h3>
      <%= form_with url: team_invites_path, method: :post do |form| %>
          <%= form.text_field :email %>
          <%= form.submit "Send invite" %>
          <%= form.hidden_field :team_id, value: @team.id %> 
      <%end%>
      <%if TeamInvite.where(team_id: @team.id, status: "Pending") != [] %>
        <h3>Pending invites</h3>
        <div class="group-list-mini">
        <%for invite in TeamInvite.where(team_id: @team.id, status: "Pending") do%>
          <p>
            <%=invite.invited_email_id%> | 
            <%= link_to "Cancel", team_invite_path(invite.id), data: { turbo_method: :delete}%>
          </p>
        <%end%>
        </div>
      <%end%>
    <%end%>
  </div>
</section>

<%if @team.users != []%>
  <section> <%# section playters %>
    <div class="section-content">
      <h3>Team players</h3>
    </div>
    <div class="grid">
        <%for player in @team.users do%>
          <div class="card-simple">
            <h4><%=player.username%></h4>
            <%if playerchar = get_player_character(@team, player)%> <%# si on a un player character %>
              <p><strong>Player character : </strong><a href="<%=node_path(playerchar.id)%>"><%=playerchar.node_title%></a></p>
              <p><strong>Character description :</strong><br> <%=shorten_text(playerchar.public_description, 200)%></p>
            <%else%>
              <p>This player doesn't have a character yet.</p>

              <p><strong>Character association menu :</strong></p>

              <%=form_with url: team_linker_path(@team.team_linkers.where(user: player).first.id), method: :patch do |form|%>
                <%= form.select :node_id, @dropdown_chars %>
                <%= form.hidden_field :user_id, value: player.id %> 
                <%= form.submit "Associate", class: "btn-sm btn-success" %>
              <%end%>

              <%if current_user == player || team_belongs_to_user(@team)%> <%# si user a le droit de créer un character %>
                <%= button_to "Create character", nodes_path({node: {world_id: @team.world.node.id, node_type: "Character", node_title: player.username + "'s character", public_description: "Your characters description"}, user_id: player.id, team_id: @team.id}), method: :post, class: "btn-sm btn-success"%>
              <%end%>
            <%end%>
            <%if @owned%>
              <%= button_to "Remove", team_linker_path(TeamLinker.where(team: @team, user: player).first.id), method: :delete, class: "btn-sm btn-danger"%>
            <%end%>
          </div>
        <%end%>
      </div>
  </section>
<%end%>

<%if @owned%> <%# défini dans le controller %>
  <section class="wide-section">
    <div class="section-content">
      <div>
        <%= link_to "Edit this team", edit_team_path(@team.id) %> |
        <%= link_to "Destroy this team", team_path(@team), data: { turbo_method: :delete, turbo_confirm: 'Are you sure?'} %>
      </div>
    </div>
  </section>
<%end%>