
<%# <%= render @team %>

<section class="wide-section-small">
  <div class="section-content">
    <h1>Team <%=@team.name%> in <a href="<%=node_path(@team.world.node.id)%>"><%=@team.world.world_name%></a></h1>
  </div>
</section>

<section>
  <div class="section-content">
    <h3>Team description</h3>
    <%=@team.description%>
    <p>Created at : <%=@team.created_at%></p>

    <h3>Invite user to team</h3>
    <input><button>Send invite</button>
  </div>
  
</section>

<section> <%# section playters %>
  <div class="section-content">
  <h3>Team players</h3>
  </div>
  <div class="grid">
      <%for player in @team.users do%>
        <div class="card-simple">
          <h4><%=player.username%></h4>
          <%if playerchar = get_player_character(@team, player)%>
            <p><strong>Player character : </strong><a href="<%=node_path(playerchar.id)%>"><%=playerchar.node_title%></a></p>
            <p><strong>Character description :</strong><br> <%=shorten_text(playerchar.public_description, 200)%></p>
          <%else%>
            <p>This player doesn't have a character yet.</p>
          <%end%>
          <%if @owned%>
            <button type="button" class="btn-danger btn-sm">Remove from team</button>  <%# à coder %>
          <%end%>
        </div>
      <%end%>
    </div>
</section>

<%if @owned%> <%# défini dans le controller %>
  <section class="wide-section">
    <div class="section-content">
      <div>
        <%= link_to "Edit this team", edit_team_path(@team) %> |
        <%= link_to "Destroy this team", @team, method: :delete %>
      </div>
    </div>
  </section>
<%end%>