<% for secret in @node_secrets do%>
    <section>
        <div class="section-content">
            <h3><%=secret.secret_title%></h3>
            <p><%=secret.secret_content%></p>
            <%if @user_can_edit%>
                <%= link_to "Edit this secret", edit_secret_path(secret.id) %><br>
            <%end%>

            <p>Who knows this secret :</p>
            <div class="mini-item-card">
                <%for user in who_knows_secret_in_teams(secret, @teams) do%>
                    <div class="mini-item-box">
                        <div class="mini-item-text">
                            <small>
                                <%=user.username%>
                            </small>
                        </div>
                        <%if @owned %>
                            <div class="mini-item-button">
                                <%= link_to "x"%><br>
                            </div>
                        <%end%>
                    </div>
                <%end%>
            </div>

            <p>Reveal secret to teams :</p>

            <p>Reveal secret to users :</p>

        </div>
    </section>
<% end%>