<% for secret in @node_secrets do%>
    <section>
        <div class="section-content">
            <h3><%=secret.secret_title%></h3>
            <p><%=secret.secret_content%></p>
            <%if @user_can_edit%>
                <%= link_to "Edit this secret", edit_secret_path(secret.id) %><br>
            <%end%>

            <%if who_knows_secret_in_teams(secret, @teams) != []%>
                <p>Who knows this secret :</p>
                <div class="mini-item-card">
                    <%for user in who_knows_secret_in_teams(secret, @teams) do%>
                        <div class="mini-item-box">
                            <div class="mini-item-text">
                                <small>
                                    <%=user.username%>
                                </small>
                            </div>
                            <%if @owned %>
                                <div class="mini-item-button">
                                    <%= link_to "x", known_secret_path(KnownSecret.where(user: user, secret: secret).first), data: { turbo_method: :delete}%><br>
                                </div>
                            <%end%>
                        </div>
                    <%end%>
                </div>
            <%end%>

            <%if teams_who_doesnt_know_secret(secret, @teams) != []%>
                <p>Reveal secret to teams :</p>
                <div class="mini-item-card">
                    <%for team in teams_who_doesnt_know_secret(secret, @teams) do%>
                        <div class="mini-item-box">
                            <div class="mini-item-text">
                                <small>
                                    <%= link_to team.name, known_secrets_path({team_id: team.id, secret_id: secret.id}), data: { turbo_method: :post}%>
                                </small>
                            </div>
                        </div>
                    <%end%>
                </div>
            <%end%>

            <%if users_who_dont_know_secret(secret, @teams) != []%>
                <p>Reveal secret to users :</p>
                <div class="mini-item-card">
                    <%for user in users_who_dont_know_secret(secret, @teams) do%>
                        <div class="mini-item-box">
                            <div class="mini-item-text">
                                <small>
                                    <%= link_to user.username, known_secrets_path({secret_id: secret.id, user_id: user.id}), data: {turbo_method: :post}%>
                                </small>
                            </div>
                        </div>
                    <%end%>
                </div>
            <%end%>

        </div>
    </section>
<% end%>