<section class="wide-section-small">
  <div class="section-content">
    <h1><%=@node.node_title.capitalize%></h1>
  </div>
</section>

<%=render "node_description"%>

<%=render "management_panel"%>

<%=render "node_secrets"%>

<%=render "relative_nodes"%>

<%if @node.node_type == "World" && @user_can_edit%>
  <section>
    <div class="section-content">
      <%= link_to "Destroy world permanently", node_path(@node.id), data: { turbo_method: :delete, turbo_confirm: 'Are you sure? There is no going back.'}%><br>
    </div>
  </section>
<%end%>