<%= form_with(model: secret, class: "node-form") do |form| %>
  <% if secret.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(secret.errors.count, "error") %> prohibited this secret from being saved:</h2>

      <ul>
        <% secret.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%if params[:node_id]%>
    <%= form.hidden_field :node_id, value: params[:node_id] %> 
  <%end%>
  <div>
    <%# <%= form.label :secret_title %>
    <%= form.text_field :secret_title, class: "title-input", placeholder: "Secret's title" %>
  </div>
  <div>
    <%# <%= form.label :secret_content %>
    <%= form.text_area :secret_content, class: "description-text-input", placeholder: "Secret's description"  %>
  </div>
  <div>
    <%= form.submit class: "input-btn" %>
  </div>

<% end %>
