<% content_for :title, "Editing secret" %>

<section class="wide-section-small">
  <div class="section-content">
    <h1>Edit <%=@secret.secret_title%></h1>
  <div class="section-content">
</section>

<section>
  <div class="section-content">
    <%= render "form", secret: @secret %>
  </div>
</section>

<section class="wide-section">
  <div class="section-content">
    <%= link_to "Destroy this secret", secret_path(@secret.id), data: { turbo_method: :delete, turbo_confirm: 'Are you sure?'}%> | <%= link_to "Back to node", @secret.node %>
  </div>
</section>

<%=render "static/md_helper"%>