<% content_for :title, "New secret" %>

<section class="wide-section-small">
  <div class="section-content">
    <h1>New secret in <a href="<%=node_path(@node.id)%>%"><%=@node.node_title%></a></h1>
  </div>
</section>

<section>
  <div class="form-content">
    <%= render "form", secret: @secret %>
  </div>
</section>

<br>

<section class="wide-section">
  <div class="section-content">
    <%= link_to "Back to node", node_path(@node.id) %>
  </div>
</section>

<%=render "static/md_helper"%>