
<div class="navdrop">
    <a class="navdrop-link">
        Worlds
    </a>
    <div class="navdrop-content">
        <p><strong>My worlds :</strong></p>
        <%for world in current_user.worlds do%>
            <a href="<%= node_path(world.node.id)%>"><%=world.node.node_title%></a>
        <%end%>
        <a href="<%= new_node_path({node_type: "World"}) %>"><strong>New world</strong></a>
        <%if explored_worlds != []%>
            <p><strong>Explored worlds :</strong></p>
            <%for world in explored_worlds do%>
                <a href="<%= node_path(world.id)%>"><%=world.node_title%></a>
            <%end%>
        <%end%>
    </div>
</div>